#app {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /*background-color: lightgray;*/
    display: flex;
    flex-direction: row;
    position: absolute;
}

#left, #right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#left {
    /*background-color: lightpink;*/
}

#right {
    /*background-color: lightgreen;*/
}

#left > *, #right > *{
    margin: 1em;
}

#left > h3, #right > h3{
    margin: 0;
}

#left.lead > *, #right.lead > * {
    margin: 0.5em;
}

#left.lead > h3, #right.lead > h3 {
    margin: 0;
}

.lead {
    font-size: xx-large;
}
