#app {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    position: relative;
}

#left, #right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#left {
    background-color: lightpink;
}

#right {
    background-color: lightgreen;
}

#left > *, #right > *{
    margin: 1em;
}

#left > h3, #right > h3{
    margin: 0;
}

#left.winner > *, #right.winner > * {
    margin: 0.5em;
}

#left.winner > h3, #right.winner > h3 {
    margin: 0;
}

.winner {
    font-size: xx-large;
}
