#app {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /*background-color: lightgray;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    overflow-x: auto;
    /*
    justify-content: start;
    padding-top: 1em;
    */
}

.box {
    position: relative;
    margin: 0.25em;
    padding: 0.5em;
    background-color: rgb(211, 211, 211, 0.18);
    border-radius: 25px;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red, .red * {
    color: lightpink;
}

.green, .green * {
    color: lightgreen;
}

h1 .rank {
    font-weight: normal;
    font-size: smaller;
}

h2 small {
    font-weight: normal;
}

.diff {
    position: absolute;
    top: 2.5em;
    left: 21em;

    opacity: 1;
    animation: transitionIn 0.8s ease-in;
}

@keyframes transitionIn {
    0% {
        transform: translateX(-2em);
        opacity: 0;
    }
    35% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.diff.negative * {
    color: red;
}

.diff.positive * {
    color: greenyellow;
}

.diff.disappear {
    opacity: 0;
    animation: transitionOut 1s ease-out;
}

@keyframes transitionOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 .rank {
        font-size: small;
    }
    #app {
        justify-content: start;
        padding-top: 0.5em;
    }
    .box {
        padding: 0.4em;
        width: 15em;
        line-height: 1.25;
        border-radius: 20px;
    }
    .diff {
        left: 15.5em;
    }
}
