@import "./app.css";
@import "./overlay.css";

html, body, * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*Picnic overrides*/
h1, h2, h3, h4, h5, h6 {
    padding: 0 !important;
}

html, body {
    width: 100vw;
    height: 100vh;
}