#overlayContainer {
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0074d9;
    border-radius: 5px;
    background-color: lightblue;
    padding: 0.5em;
    margin-right: 2em;
    font-size: larger;
}

#overlay > * {
    margin: 1em;
}

#overlay span {
    color: #0057A3;
    font-weight: bold;
}

#overlay span small{
    color: #0A8DFF;
}

@media only screen and (max-width: 600px) {
    #overlayContainer {
        align-items: flex-start;
        justify-content: flex-end;
        left: 0;
    }
    #overlay {
        padding: 0;
        margin-right: 0;
        margin: 0.25em;
    }
    #overlay > * {
        margin: 0.2em;
    }
}
